<h3> LISTING POSTS </h3>


<table border=1>
     	<thead>
     		<tr> 
     			<th> slno</th>
     			<th> Title </th>
     			<th> Descritpion</th>
     		</tr>
     	</thead>
     <tbody>

     <% @posts.each_with_index do |post,index|%>
     <tr> 
     	<td> <%= index + 1 %> </td>
     	  <td> <%= post.title %></td>
     	  <td> <%= post.description%></td>
          <td> <%= link_to "show", post%></td>
     </tr>
     <%end%>
 </tbody>
</table>