<h3> create posts</h3>

<%= form_for @post do |p|%>

<div class="form-group">
<label> Title </label><br/>
<%= p.text_field :title, :class => "form_control"%><br/>
</div>

<div class="form-group">
<label> Description</label><br/>
<%= p.text_area :description, :class => "form_control"%><br/>
</div>


<%= button_tag(type: 'submit', class: "btn btn-primary") do %>
    <i class="icon-ok icon-white"></i> Save
  <% end %>


<%#= p.submit, :class => "btn btn-default" %>
<%end%>  

